.flex_container {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    position: relative;
    flex-wrap: wrap;
    flex-grow: 1;
}

.flex_item {

    flex-basis: 400px;
}

.btn {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.1s;
    text-shadow: 0px -2px rgba(68, 68, 68, 0.44);


}

@media (min-width: 1500px) {

    .flex_container {}
}

;




.btn:active {
    transform: translateY(3px);
}

.btn.page {
    background-color: #8DC0F1;
    border: none;
    border-bottom: 5px solid #80aeda;
}

.btn.page2 {
    background-color: #FFD990;
    border: none;
    border-bottom: 5px solid #ecc885;
}

/* .caption {
    position: absolute;
    right: 320px;
    padding-top: 20px;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: .8s .2s ease-in-out;
    z-index: 10;
    text-align: center;
    justify-content: center;
    margin: auto;
    display: block;
    top: 100px;
}

.caption:hover {
    opacity: 1;
    transform: translateX(200px);
} */