.App2 {
    text-align: center;
}

.review-container {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #333;
    padding: 10px 0 30px 0;
    border-radius: 5px;
    margin-bottom: 50px;
}

.form-wrapper {
    width: 60%;
    margin: 0 auto;
}

.title-input {
    width: 500px;
    height: 40px;
    margin: 10px;
}

.submit-button {
    text-decoration: none;
    font-size: 1.3rem;
    color: white;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.1s;
    text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
    background-color: #F99090;
    border: none;
    border-bottom: 5px solid #da7e7e;

}

.submit-button:active {
    transform: translateY(3px);
}




.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
    min-height: 500px;
}