@font-face {
  font-family: "big-font";
  src: url("../../fonts/neodgm.ttf")
}
@font-face {
  font-family: "medium-font";
  src: url("../../fonts/PF스타더스트\ Bold.ttf")
}
@font-face {
  font-family: "small-font";
  src: url("../../fonts/PF스타더스트S.ttf")
}
* {
  margin: 0;

}
.h1 {
  font-family: "big-font";
}
.h2 {
  font-family: "medium-font";
}
.h3 {
  font-family: "small-font";
}
button {
  font-family: "small-font";
  font-size: 1.4em;
  font-weight: bold;
  width: 100px;
  height: 40px;
  background-color: #ed9dcc;
  border: none;
  border-radius: 8px;
  margin: 10px;
}
button:hover {
  background-color: #dbdbdb;
}
.container {
  display: block;
  position: relative;
  width: 100vw;
  height: 1000px;
  margin-top: 150px;
}

/* 게시판 메인 - 목록 조회 */
.board-read-body {
  margin: auto;
  width: 800px;
}

.board-title {
  height: 100px;
  font-family: "medium-font";
  font-size: 2em;
  text-align: center;
}
.board-nav {
  display: flex;
  justify-content:center;
  height: 100px;
}
ul {
  list-style: none;
}
li {
  display: inline;
  padding: 20px;
  font-family: "medium-font";
  font-size: 2em;
  color: #8DC0F1;
}
/* li a{
  color: #8DC0F1;
  text-decoration-line :none;
} */
li:hover {
  background-color: #dbdbdb77;
  border-radius: 5px;
}
.board-write-button {
  width: 800px;
  display: flex;
  justify-content:right;
}
.board-write-button > button {
  border-radius: 8px;
  margin: 0, 0, 20px, 0;
}

td {
  text-decoration-line :none;
}

/* 게시판 상세 페이지 */
/* .board-read-top-button {
  width: 900px;
  text-align: right;
} */
.board-read-top-button{
  display: flex;
  justify-content: right;
}
.board-read-top-button button {
  margin: 10px;
}
.read-title {
  border: 2px solid #8DC0F1;
  border-radius: 20px;
  width: 800px;
  padding: 3px;
  margin: 3px;
  padding: 10px;
}
.read-info {
  border: 2px solid #8DC0F1;
  border-radius: 20px;
  width: 800px;
  padding: 10px;
  margin: 3px;
}
/* .fb_id {
  display: none;
} */
.read-contents {
  border: 2px solid #8DC0F1;
  border-radius: 20px;
  width: 800px;
  height: 400px;
  padding: 10px;
  margin: 3px;
}
.comment-read-box {
  border: 2px solid #8DC0F1;
  border-radius: 20px;
  width: 800px;
  padding: 10px;
  margin: 3px;
}
.comment-UD, .read-contents-UD, .comment-create {
  display: flex;
  justify-content: right;
}
.read-contents-UD button {
  margin: 10px;
}
.comment-UD button {
  margin: 10px;
}
.comment-write-box {
  border: 2px solid #8DC0F1;
  border-radius: 20px;
  width: 800px;
  padding: 10px;
  margin-top: 10px;
}

/* 게시판 글 작성 페이지 */
.App {
  text-align: center;
  margin-top: 150px;
  height: 760px;
}

.movie-container {
  margin: 0 auto;
  width: 80%;
  border: 1px solid #333;
  padding: 10px 0 30px 0;
  border-radius: 5px;
  margin-bottom : 50px;
}

.board-title {
  height:100px;
  padding: 30px;
  font-size: 2em;
  font-family: "medium-font";
  color: #F99090;
}

select {
  display: inline-block;
  width: 130px;
  height: 40px;
  padding: 0px 10px;
  margin: 0 auto;
  color: rgb(85, 85, 85);
}

.form-wrapper{
  display: inline-block;
  width: 45%;
  margin: 0 auto;
}

.title-input {
  width: 610px;
  height: 40px;
  margin: 10px;
}

.write-page-button {
  width: 647px;
  text-align: right;
}

.cancel-button, submit-button {
  margin: 10px;
}

/* .submit-button {
  width: 150px;
  height: 40px;
  font-size: 30px;
  padding: auto;
  border: none;
  font-family: "small-font";
  background: #8DC0F1;
  border-radius: 5px;
  margin-top: 40px;
  vertical-align: middle;
} */

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 500px;
}