@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
    font-family: 'Jua', sans-serif;
}


.right_text {

    -webkit-text-size-adjust: none;
    margin: 10;
    border: none;
    color: #777777;
    padding: 20px 0 0 0;
    margin-top: 35px;
    width: 100%;
    border-top: 1px solid #ccc;
    background-color: white;
}

.right_text>h2 {
    color: black;
    text-align: center;
    justify-content: center;
    margin: auto;
    display: block;

}

dl {
    margin-left: 20px;
}


dd {
    content: "";
    display: block;
    border-bottom: 2px dashed gray;
    padding-bottom: 10px;
    border-width: 20%;
    width: 40%;
    text-align: center;
    justify-content: center;
    margin: auto;
}

;