@font-face {
  font-family: "big-font";
  src: url("../../fonts/neodgm.ttf");
}
@font-face {
  font-family: "medium-font";
  src: url("../../fonts/PF스타더스트\ Bold.ttf");
}
@font-face {
  font-family: "small-font";
  src: url("../../fonts/PF스타더스트S.ttf");
}
* {
  margin: 0;
}
.h1 {
  font-family: "big-font";
}
.h2 {
  font-family: "medium-font";
}
.h3 {
  font-family: "small-font";
}

/* 일행구하기 - 게시판 이미지 */
.boardCategory {
  width: 1024px;
  height: 140px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: fixed;
  margin: 0 auto;
  top: 160px;
  border-radius: 5px;

  text-emphasis-color: cornsilk;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
}
.boardCategory::after {
  width: 1020px;
  height: 140px;
  margin: 0 auto;
  text-align: center;
  content: "";
  position: fixed;
  background: url("../../images/Teamboard.png");
  background-color: whitesmoke;
  top: 150;
  left: 50;
  z-index: -3;
  opacity: 0.6;
}

/* 일행구하기 - 글자 */
.boardCategory h1 {
  font-size: calc(1.375rem + 1.5vw);
  color: cornsilk;
  text-shadow: -6px 0 #000, -4px 1px #000, 1px 0 #000, 0 -1px #000;
  text-align: center;
  margin-top: 40px;
}
.boardCategory span {
  font-size: 2vw;
  color: cornsilk;
  text-shadow: -6px 0 #000, -4px 1px #000, 1px 0 #000, 0 -1px #000;
  text-align: center;
  margin-bottom: 20px;
}

/* 새글쓰기 버튼 */
.boardWriteBtn {
  font-family: "small-font";
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 10px 10px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #8dc0f1;
  border: none;
  border-bottom: 5px solid #386088;
}

.boardWriteBtn:hover {
  transform: translateY(3px);
}

/* 게시물 리스트 */
.board-form th {
  font-size: 1.2rem;
}

.board-form td {
  vertical-align: middle;
  cursor: pointer;
}

/* 글쓰기 페이지 - 뒤로가기 버튼 */
.goBackBtn {
  font-family: "small-font";
  margin-top: 100px;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 10px 50px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #ffd990;
  border: none;
  border-bottom: 5px solid #7a6744;
}

.goBackBtn:hover {
  transform: translateY(3px);
}

/* 글쓰기 페이지 - 제목 입력란*/
.title-input {
  display: block;
  position: sticky;
  top: 200px;
  padding: 5px;
  margin-bottom: 2px;
  color: black;
}
/* 글쓰기 페이지 - 인원수 입력란 */
.number-input {
  display: block;
  position: sticky;
  top: 200px;
  padding: 5px;
  color: black;
}

/* 글쓰기 페이지 - 작성완료 버튼 */
.submitBtn {
  display: block;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin-top: 100px;
  font-size: 1.3rem;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #f99090;
  border: none;
  border-bottom: 5px solid #da7e7e;
}

.submitBtn:hover {
  transform: translateY(3px);
}

/* 상세페이지 - 수정버튼 */
.editBtn {
  float: right;
  justify-content: right;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #f99090;
  border: none;
  border-bottom: 5px solid #804d4d;
}

.editBtn:active {
  transform: translateY(3px);
}

/* 상세페이지 버튼 3종세트 */
.setButton {
  position: relative;
  padding: 10px 10px 10px 10px;
  margin-right: 110px;
}

/* 상세페이지 - 삭제버튼 */
.deleteBtn {
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #ffd990;
  border: none;
  border-bottom: 5px solid #a17a32;
}

.deleteBtn:active {
  transform: translateY(3px);
}
/* 상세페이지 - 목록버튼 */
.listBtn {
  float: right;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #40baaa;
  border: none;
  border-bottom: 5px solid #267268;
}

.applyBtn {
  float: right;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #ffd990;
  border: none;
  border-bottom: 5px solid #a17a32;
}

.listBtn:active {
  transform: translateY(3px);
}

.writeForm {
  border: 4px solid #40baaa;
  border-top: 200px;
  width: 1024px;
  height: 720px;
  margin: 0 auto;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
