.App {
  text-align: center;
}
/*   재이님 코드
.App {
  margin: 0 auto;
  text-align: center;
  height: 1vh;
  color : black;
} */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.me-auto {
  text-align: center;
  justify-content: center;
}

.container{
  background-color: rgb(0, 0, 0);
  margin: 0 auto;  
  width: 1024px;
  height: 140px;
  border: 4px solid #40BAAA;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  margin : 81px auto;
}

/* 일행구하기 - 게시판 이미지 */
.boardCategory {
  width: 1024px;
  height: 140px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  position: fixed;
  margin : 0 auto;
  top: 140px;
  z-index: 1;
  border-radius: 5px;
  @media screen and (max-width: 768px) {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
}
.boardCategory::after {
  width: 1024px;
  height: 140px;
  margin : 0 auto;
  text-align: center;
  content: "";
  background: url("./images/Teamboard.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
  border-radius: 10px;
  text-emphasis-color: black;
}

.boardCategory h1{
  font-size : calc(1.375rem + 1.5vw);
  color : black;
  text-align: center;
  margin-top : 20px;
}
.boardCategory span{
  font-size : 2vw;
  color : black;
  text-align: center;
  margin-bottom: 20px;
}

/* 새글쓰기 버튼 */
.WriteBtn {
  margin-top : 100px;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 100px 10px 10px 0px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #40BAAA;
  border: none;
  border-bottom: 5px solid #287369;
}

/* 글쓰기 페이지 */
.boardWrite-form {
  box-sizing: border-box;
  padding-bottom: 3em;
  width: 1024px;
  height : 900px;
  margin: auto;
  color : black;
  font-family: "DungGeunMo";
  @media screen and (max-width: 768px) {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }
}

/* 글쓰기 페이지 - 뒤로가기 버튼 */
.goBackBtn {
  text-align: right;
  justify-content: right;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 5px 10px 5px 10px;
  margin: 100px 10px 10px 0px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px 2px rgba(68, 68, 68, 0.44);
  background-color: #FFD990;
  border: none;
  border-bottom: 5px solid #7e5e22;
}
.boardWrite-form h1 {
  color : black;
}
/* 글쓰기 페이지 - 제목 입력란*/
.title-input {
  display: block;
  position: absolute;
  top: 200px;
  margin: auto;
  font-family: "Neodgm";
}

/* 글쓰기 페이지 - 에디터 */
.sun-editor-editable {
  font-family: "Neodgm";
}

/* 글쓰기 페이지 - 작성완료 버튼 */
.submitBtn {
  display : block;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  margin-top : 100px;
  font-size: 1.3rem;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: auto;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #f99090;
  border: none;
  border-bottom: 5px solid #da7e7e;
}

.submitBtn:active {
  transform: translateY(3px);
}



/* 상세페이지 - 수정버튼 */
.editBtn {
  float : right;
  justify-content: right;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #f99090;
  border: none;
  border-bottom: 5px solid #da7e7e;
}

.editBtn:active {
  transform: translateY(3px);
}

/* 상세페이지 글 내용 화면 */
.form-wrapper {
  display : flex;
  text-align: center;
  justify-content: center;
}


/* 상세페이지 버튼 3종세트 */
.setButton{
  position: relative;
}

/* 상세페이지 - 삭제버튼 */
.deleteBtn {
  float : right;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #FFD990;
  border: none;
  border-bottom: 5px solid #a17a32;
}

.deleteBtn:active {
  transform: translateY(3px);
}
/* 상세페이지 - 목록버튼 */
.listBtn {
  float : right;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 5px;
  display: block;
  border-radius: 10px;
  transition: all 0.1s;
  text-shadow: 0px -2px rgba(68, 68, 68, 0.44);
  background-color: #40BAAA;
  border: none;
  border-bottom: 5px solid #267268;
}

.listBtn:active {
  transform: translateY(3px);
}