.h1 {
  font-family: "big-font";
}
.h2 {
  font-family: "medium-font";
}
.h3 {
  font-family: "small-font";
}
header {
  display: block;
  position: fixed;
  width: 100%;
  height: 150px;
  background-color: #FFD990;
  margin: -150px 0 0 0;
  padding: 10px;
}
footer {
  display: block;
  width: 100%;
  height: 200px;
  background-color: #40BAAA;
  padding: 10px;
}
